header{
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg');
    text-align: center;
    background-position: centre; 
    background-size: auto;
}
#brushes{
    background-color: mediumspringgreen;
    font-family: Helvetica;
    font-size: 32px;
    text-align: left;
    font-weight: bold;
    color: white;
    background-position: left;
    
}
.title h3{
    font-weight: bold;
}
a, p{
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
  text-align: left;
  
}
p{
  color: black !important;
}
