h1{
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg');
    text-align: center;
}
h2.brushes{
    background-color: mediumspringgreen;
    font-family: Helvetica;
    font-size: 32px;
    text-align: left;
    font-weight: bold;
    color: white;
    background-position: left;
    
}
h3{
    font-family: Helvetica;
    font-weight: bold;
    text-align: left;
    margin-left: -40px;
}
a{
  font-family: Helvetica;
  color: blue;
  font-weight: bold;
}
p{
  color: black;
  font-family: Helvetica;
  margin-left: -40px;
}
img{
  margin-left: -40px;
}
h2.frames{
  background-color: lightcoral;
  font-family: Helvetica;
  font-size: 32px;
  text-align: left;
  font-weight: bold;
  color: white;
  background-position: left;